{{ 'section-background-image-banner.css' | asset_url | stylesheet_tag }}

{% if section.settings.image_height == 'adapt' and section.settings.image != blank %}
  {%- style -%}
    @media screen and (max-width: 749px) {
      #Banner-{{ section.id }}::before,
      #Banner-{{ section.id }} .banner__media::before,
      #Banner-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }

    @media screen and (min-width: 750px) {
      #Banner-{{ section.id }}::before,
      #Banner-{{ section.id }} .banner__media::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }
  {%- endstyle -%}
{% endif %}

{%  style %}
  #Banner-{{ section. id}}::after {
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0}};
  }
{% endstyle %}

{%- liquid
  assign full_width = '100vw'
  assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'

  if section.settings.image_behavior == 'ambient'
    assign half_width = '60vw'
    assign full_width = '120vw'
    assign stacked_sizes = '(min-width: 750px) 60vw, 120vw'
    assign widths = '450, 660, 900, 1320, 1800, 2136, 2400, 3600, 7680'
  elsif section.settings.image_behavior == 'fixed'
    assign half_width = '100vw'
    assign stacked_sizes = '100vw'
  else
    assign half_width = '50vw'
    assign stacked_sizes = '(min-width: 750px) 50vw, 100vw'
  endif
-%}

<div id="Banner-{{ section.id }}" 
  class="banner banner--content-align-{{ section.settings.desktop_content_alignment }}
        banner--content-align-mobile-{{  section.settings.mobile_content_alignment }}
        banner--{{ section.image_height }} {% if section.settings.stack_images_on_mobile and sections.settings.images != blank %} banner--stacked{% endif %}
        {% if section.settings.image_height == 'adapt' and section.settings.image != blank %} banner--adapt{% endif %}
        {% if section.settings.show_text_below %} banner--mobile-bottom{%- endif -%}
        {% if section.settings.show_text_box == false %} banner--desktop-transparent{% endif %}
        {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">

  {{ section.settings.image | image_url: width: 3840 | image_tag: loading: 'lazy',
  width: section.settings.image.width,
  height: image_height,
  class: image_class,
  widths:widths}}
</div>
{% schema %}
  {
    "name": "background_image",
    "tag": "section",
    "class": "section",
    "disabled_on":{
      "groups":["header", "footer"]
    },
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "background_image"
      },
      {
        "type": "range",
        "id": "image_overlay_opacity",
        "min":0,
        "max":100,
        "step":10,
        "unit":"%",
        "label":"background_image.image_overlay_opacity",
        "default":0
      }
      
    ]
  }
{% endschema %}


