<div class="width">
  <!-- Wrap elements where header is on the left and menu and hamburger on the right -->
  <div class="header-flex">
    <a href="/" class="header-logo">
      <img src="{{section.settings.logo | img_url: 'master' }}" alt="ponto set logo">
    </a>

    <!-- header hamburger nav for smaller screens  -->
    <button class="header-hamburger">
      <span class="header-hamburger-bar"></span>
      <span class="header-hamburger-bar"></span>
      <span class="header-hamburger-bar"></span>
    </button>

    <ul class="header-nav">
      {% for link in section.settings.navigation.links %}
        <li class="header-nav-item">
          <a class="header-nav-anchor" href="{{ link.url }}">
            {{ link.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% javascript %}
  <script src="{{ 'header.js' | asset_url }}"></script>
{% endjavascript %}

<div class="header-nav-overlay"></div>

<!-- Might need to delete this -->
<style>
  .header-logo {
    max-width: {{ section.settings.logo_width }}
    px;
  }
</style>

{% schema %}
  {
    "name": "Header",
    "tag": "header",
    "class": "header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      }, {
        "type": "range",
        "id": "logo_width",
        "label": "Logo width",
        "default": 25,
        "min": 0,
        "max": 300,
        "step": 5
      }, {
        "type": "link_list",
        "id": "navigation",
        "label": "Navigation menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}