{% comment %} To ADD:
    - SOME TYPE OF CAROUSSEL TO DISPLAY DIFFERENT VARIANT IMAGES
        for desktop and mobile 
    - allow only numbers to be typed in quantity (not sure how to do it)
    - related products snipper 
    - Description to be added (check head.com for examples)
{% endcomment %}

{{ 'racket_product.css' | asset_url | stylesheet_tag }}

<div class="product-page">
  <div class="width">
    <div class="product">
        {% assign selectedVariant = product.first_or_selected_variant %}
      <div class="product-image">
        <img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.title }}">
      </div>

      <div class="product-content">
        <h2>{{ product.title }}</h2>
        <div class="SKU-id">SKU:  {% assign selectedVariant = product.selected_or_first_available_variant %}
            <span class="variant-sku">{{ selectedVariant.sku }}</span>
        </div>
        <p class="product-price">{{ selectedVariant.price | money }}</p>

        {% form 'product', product %}
          <label class="product-option">Options</label>
          <select class="product-select" name="id">
            {% for variant in product.variants %}
              <option
                {% if selectedVariant.id == variant.id %}
                  selected
                {% endif %}
                value="{{ variant.id }}"
              >
                {{ variant.title }}
              </option>
            {% endfor %}
          </select>

          <div class="product-quantity">
            <label for="quantity">Quantity:</label>
            <input name="quantity" id="quantity" value="1">
          </div>

          <button class="button product-add" type="submit">Add to cart</button>

          <div class="buyNow">
            {{ form | payment_button }}
          </div>
        {% endform %}
      </div>
    </div>
  </div>
</div>
<div class="product-description width">
          {{ product.description }}
        </div>

{% schema %}
{
  "name": "Main product",
  "settings": [],
  "presets": [
    {
      "name": "Main product"
    }
  ]
}
{% endschema %}